@model CDSite.Models.OfferCodeViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Bulk</title>
</head>
<body>
 @using (Html.BeginForm("CreateBulk", "OfferCode", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
 {
    <div><h1>Create Offer Codes: </h1></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Codes, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Codes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Codes, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(m => m.OfferId)
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>
            @Html.ValidationSummary()
 }
</body>
</html>
