@model CDSite.Models.OfferListViewModel
@{
    ViewBag.Title = "Offers";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offers</title>
    <style>
        .row{
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="col-md-10">
        @* WhiteSpace *@
    </div>
    <div class="col-md-2">
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Create Offer", "Create", "Offer", null, new { @class = "btn btn-success" })
            </div>
            </div>
        </div>
    </div>
      
       
        <div>
            <h3>Your offers:</h3>
        </div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>URL</th>
                <th>Category</th>
                <th>Offer Codes</th>
            </tr>


            @foreach (var offer in Model.OfferList)
            {
                <tr>
                    <th>@Html.ActionLink(offer.Title, "Edit", new { id = offer.Id })</th>
                    <td>@offer.Description</td>
                    <td>@offer.Url</td>
                    <td>@offer.Category</td>
                    <td>@Html.ActionLink("View Codes","List" ,"OfferCode", new { offerId = offer.Id }, null) 
                    (@offer.TotalCodes codes, @offer.TotalClaimed claimed) </td>
                </tr>
            }

        </table>

    @if (@Model.OfferList.Count == 0)
    {
        <h4>No offers exist.</h4>
    }
        
</body>
</html>
