@model CDSite.Models.OfferListViewModel
@{
    ViewBag.Title = "Offers";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offers</title>
</head>
<body>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Create", "Create", "Offer", null, new {@class = "btn btn-success" })
        </div>
    </div>
      
       
        <div>
            <h3>Your offers:</h3>
        </div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>URL</th>
                <th>Category</th>
            </tr>


            @foreach (var offer in Model.OfferList)
            {
                <tr>
                    <th>@Html.ActionLink(offer.Title, "Edit", new { id = offer.Id })</th>
                    <td>@offer.Description</td>
                    <td>@offer.Url</td>
                    <td>@offer.Category</td>
                </tr>
            }

        </table>

    @if (@Model.OfferList.Count == 0)
    {
        <h4>No offers exist.</h4>
    }
        
</body>
</html>
